@media screen and (min-width: 320px) and (max-width: 1599px){     }
.container {
    display: flex;
    flex-direction: column;
}

header {
    align-items: center;
    display: flex;
    justify-content: space-around;
}

.nav {
    width: 542px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bookButton {
    width: 200px;
    height: 60px;
    color: white;
    background: #5B6460;
    border: 0px;
}

.intro {
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    position: relative;
    z-index: 2;
    top: 230px;
    left: 700px;
}

.introDesc {
    width: 333px;
    align-self: flex-end;

}

.introTitle {
    font-weight: 300;
    font-size: 70px;
    line-height: 72px;
}

.cabine {
    width: 1408px;
    display: flex;
    justify-content: space-between;
}

section {
    width: 1408px;
    align-self: center;
}

.cabineText {
    margin-left: 147px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: center;
    width: 500px;
}

.gallery {
    display: flex;
    justify-content: space-between;
}

.forest {
    display: flex;
}

.forestMap {
    width: 2700px;
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('./public/s.png');
}

.circle {
    position: relative;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Eclipse1 {
    z-index: 1;
    width: 176px;
    height: 176px;
    background: #FFFFFF;
    opacity: 0.45;
    border-radius: 50%;
}

.Eclipse2 {
    z-index: 2;
    width: 134px;
    height: 134px;
    background: #FFFFFF;
    opacity: 0.45;
    border-radius: 50%;
}

.backFacilities {
    height: 474px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: white;
    background-color: #5B6460;
}

.facilitieCards {
    width: 829px;
    display: flex;
    justify-content: space-between;
}

.rock {
    display: flex;
}

.footerFlex {
    height: 477px;
    align-items: center;
    display: flex;
    justify-content: space-around;
}

.inputFooter {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.policity {
    display: flex;
    flex-direction: column;
}

.policityText {
    display: flex;
    justify-content: space-between;
    width: 500px;
}

.pay {
    align-self: flex-end;
    display: flex;
}

.cabineTitle {

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    /* identical to box height, or 100% */


    /* forest */

    color: #5B6460;

}

.cabineDesc {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    /* or 188% */


    color: #000000;

}

.a {
    text-decoration: underline #5B6460;

}

.forestText {
    margin-left: 147px;
margin-right: 50px;
    justify-content: space-between;
    align-self: center;
   
    background-color: #E9ECE0;
}

.forestTitle {

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    /* identical to box height, or 100% */


    /* forest */

    color: #5B6460;
}

.forestDesc {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    /* or 188% */


    /* Gray 1 */

    color: #333333;
}
.a2{
   text-decoration: underline #5B6460; 
font-family: 'Open Sans';
font-style: italic;
font-weight: 400;
font-size: 16px;
line-height: 30px;
/* identical to box height, or 188% */


/* forest */



}
.forest{
    background-color: #E9ECE0;
}
.facilitiesTitle{
    font-family: 'Open Sans';
font-style: normal;
font-weight: 300;
font-size: 40px;
line-height: 40px;
/* or 100% */

text-align: center;

color: #FFFFFF;


}
.electr{
text-align: center;
}
.footer {
    position: relative;
    width: 100%;
    background: #3586ff;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .social-icon,
  .menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
  }
  
  .social-icon__item,
  .menu__item {
    list-style: none;
  }
  
  .social-icon__link {
    font-size: 2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
  }
  .social-icon__link:hover {
    transform: translateY(-10px);
  }
  
  .menu__link {
    font-size: 1.2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
    font-weight: 300;
  }
  
  .menu__link:hover {
    opacity: 1;
  }
  
  .footer p {
    color: #fff;
    margin: 15px 0 10px 0;
    font-size: 1rem;
    font-weight: 300;
  }
  
  .wave {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url("https://i.ibb.co/wQZVxxk/wave.png");
    background-size: 1000px 100px;
  }
  
  .wave#wave1 {
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWaves 4s linear infinite;
  }
  
  .wave#wave2 {
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animate 4s linear infinite !important;
  }
  
  .wave#wave3 {
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWaves 3s linear infinite;
  }
  
  .wave#wave4 {
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animate 3s linear infinite;
  }
  
  @keyframes animateWaves {
    0% {
      background-position-x: 1000px;
    }
    100% {
      background-positon-x: 0px;
    }
  }
  
  @keyframes animate {
    0% {
      background-position-x: -1000px;
    }
    100% {
      background-positon-x: 0px;
    }
  }
  
  
  
  